html{
  background-color: grey;
  color: white;
  padding: 0;
  margin: 0;
}

body{
  margin: 50 auto;
  width: 30%;

}
h1{
  text-align: center;
  font-family: arial;
}
table{
 font-size: 1.2em;
}
td, th{
  padding: 0 10px;
  text-align: center;
}

th{
  font-family: arial;
}

a{
  color: white;
  text-decoration: none;
}
