html{
  background-color: grey;
  color: white;
  padding: 0;
  margin: 0;
}

body{
  margin: 50 auto;
  width: 35%;

}
#directions{
  text-align: center;
}
h1, h2{
  text-align: center;
  font-family: arial;
}

table{
   font-size: 1.2em;
   text-align: center;
}
td, th{
  padding: 0 10px;
  text-align: center;
}

th{
  font-family: arial;
}

a{
  color: white;
  text-decoration: none;
}
